/* Header  */
header {
  padding: 0 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 1rem;
  z-index: 100;
  /* position: fixed;
  margin-bottom: 20px; */
}

.hero {
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10%;
  margin-bottom: 20%;
  padding-left: 1rem;
  width: 50%;
}

.display-4 {
  color: darkorange;
  text-align: center;
}

.display-5 {
  text-align: center;
  color: gray;
}

.btn-primary {
  color: #222;
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: darkorange;
  /* margin-left: 16pc; */
}

/* Body */
/* GENERAL ELEMENTS */
.section {
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

#emoji1 {
  color: gray;
}

#arrow {
  color: gray;
}

.container {
  align-self: center;
  alignment: center;
  align-items: center;
}

.cardImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardText {
  width: 285px;
  height: 112px;
  color: gray;
}

.card {
  margin-bottom: 20px;
  border: 2px solid darkorange;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-group-item {
  height: 121px;
  width: 285px;
  text-align: center;
}

.box {
  border: 3px solid darkorange;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
}

#projectscaraousel {
  margin-top: 30px;
  margin-bottom: 30px;
  child-align: middle;
  align-content: center;
}

.card-header {
  align-content: center;
  alignment: center;
}

.btn-secondary {
  color: #222;
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: darkorange;
  margin-right: 16pc;
}

form {
  margin-bottom: 50px;
}
